    </main>
    <footer class="main-footer">
        <div class="container footer-grid">
            <div class="footer-column">
                <h4>Odkazy</h4>
                <ul>
                    <li><a href="#">Obchod</a></li>
                    <li><a href="#">Jak to vyrábíme</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Obchodní podmínky</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Kontakt</h4>
                <p>
                    StringArt Studio<br>
                    info@stringartstudio.cz<br>
                    +420 123 456 789<br>
                    Vyrobeno v Praze
                </p>
            </div>
            <div class="footer-column">
                <h4>Sledujte nás</h4>
                <!-- Zde přijdou ikony sociálních sítí -->
                <p>Přihlaste se k odběru inspirace!</p>
                <!-- Zde přijde formulář pro newsletter -->
            </div>
        </div>
    </footer>
</body>
</html>