    </main>
    <footer class="main-footer">
        <div class="container footer-grid">
            <div class="footer-column">
                <h4>Odkazy</h4>
                <ul>
                    <li><a href="/#produkty">Obchod</a></li>
                    <li><a href="/#proces">Jak to vyrábíme</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Obchodní podmínky</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Kontakt</h4>
                <p>
                    StringArt Studio<br>
                    info@stringartstudio.cz<br>
                    +420 777 878 444<br>
                    <!-- !!! ZMĚNA ZDE !!! -->
                    Vyrobeno s láskou v České republice. Každý obraz je originál.
                </p>
            </div>
            <div class="footer-column">
                <h4>Sledujte nás</h4>
                <!-- !!! ZMĚNA ZDE !!! -->
                <p>Sledujte nás pro denní dávku inspirace a pohled do zákulisí.</p>
                <div class="social-icons">
                    <a href="https://instagram.com/VASEJMENO" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                    <a href="https://tiktok.com/@VASEJMENO" target="_blank" aria-label="TikTok"><i class="fab fa-tiktok"></i></a>
                    <a href="https://facebook.com/VASEJMENO" target="_blank" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>